
 *{
    margin: 0;
    padding: 0;
}
body{
background-color: #fff;
}

.wrepper{
width: 80%;
margin: auto;}

.wrepper h2{ 
     text-align: center;
    font-size: 40px;
    font-weight: 400;
    margin: 80px auto;
    padding: 20px;
   } 

.main_content{

margin: 100px;
display: flex;box-shadow: 1px 1px 8px 0 #666;}
.form{
    width: 50%;
}
.form h1{
    color: purple;
}

.image{
width: 50%;
margin: auto;
}
.image img{
    width: 100%;

border-radius: 5px;}
.info{
display: block;
padding-bottom: 40px;}

form{

}

form input{
border: none;width: 100%;border-bottom: 1px solid #f4f4f4;
padding: 10px 0;
margin-bottom: 10px;font-size: 17px;outline: none;
}
 form textarea{
font-size: 16px;
width:100%;
border: none; 
border-bottom: 1px solid #f4f4f4;
margin-top: 10px;}
form textarea:focus,form input :focus{
    outline: none;
    border-color: #666;
}

form input[type=submit]{
    background-color: #e3b04b;
    width: auto;
    padding: 15px 20px;
    color: #fff;
    border-radius: 5px;
    margin: 10px 0;
}

.follow{
  
margin-left: 50px;}
.follow h3{
    color:#666
    
}
.icon{

  
}

.icon ul{

margin-left: 20px;display: flex;justify-content: center;}

.icon ul  a{
}